<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
#grad1 {
    height: 1.75px;
    background: magenta; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, magenta , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, magenta, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, magenta, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, magenta , yellow); /* Standard syntax (must be last) */
}
</style>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td valign="top" style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;">
<span style="text-align: left; color: #000000; font-family: 'Arial', sans-serif; font-size: 9pt; font-weight: normal">Have a nice day,</span><br>
<span style="text-align: left; color: #000000; font-family: 'Arial', sans-serif; font-size: 9pt; font-weight: normal">Amber.</span><br>
<div id="grad1"></div>
<span style="text-align: left; margin-top: 0px; margin-bottom: 0px; color: #000000; font-family: 'Arial', sans-serif; font-weight: normal; font-size: 10pt;">Amber Johnsen</span><br>
</td>
</tr>
<tr>
<td valign="top" style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;">
<span style="text-align: left; color: #000000; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal;">  +64 27 ADD ADHD <font size="1" color="#B9B9B9">|</font> +64 27 233 2343 <font size="1" color="#B9B9B9">|</font> <br>  </span>
</td>
</tr>
<tr>
<td valign="top" style="padding-left: 0px; padding-top: 5px; padding-bottom: 0px; padding-right: 0px;">
<span style="text-align: left; margin-top: 0px; color: #F77A1E; font-size: 8pt; font-weight: bold; font-family: 'Calibri', sans-serif;">
<a style="text-decoration: none; color: #F77A1E" href="http://localhost/mm-milestone2-9944003/Webpage/"><font color="#F77A1E">website - Learn more about Amber</font></a> <font size="1" color="#F77A1E">|</font> <a style="text-decoration: none; color: <a style="text-decoration: none; color: #F77A1E" href="http://+64272332343"><font color="#F77A1E">Phone Amber</font></a> <font size="1" color="#F77A1E">|</font> <a style="text-decoration: none; color: #F77A1E" href="mailto:addjaw@gmail.com"><font color="#F77A1E">email</font></a>
</span>
</td>
</tr>


</tbody>
</table>
</body>

<style>
a {color: #F77A1E;}
</style>

</html>
